<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1>Twitterクローン</h1>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright © 2020 Faye0210 ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
